---
layout: default
gallery-columns: 4
gallery:
  - path: /img/gallery/MPS1813.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/MPS1840.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/MPS2104.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/MPS2128.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/IMG_5429.JPG
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/MPS1883.jpg
    desc: 'Fotografo: NOMBRE_AQUI'

projects:
  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS1813.jpg
    bg-color: '#AA3333'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS1840.jpg
    bg-color: '#33AA33'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS2104.jpg
    bg-color: '#3333AA'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS2128.jpg
    bg-color: '#3388FF'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS2128.jpg
    bg-color: '#3388FF'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
        
  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS1813.jpg
    bg-color: '#AA3333'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS1840.jpg
    bg-color: '#33AA33'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS2104.jpg
    bg-color: '#3333AA'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

  - title: 'Titulo de prueba'
    description: 'descripción breve'
    image: /img/gallery/MPS2128.jpg
    bg-color: '#3388FF'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'

---

{% include gallery.html %}
{% include projects.html %}
