---
layout: default
gallery-columns: 4
gallery:
  - path: /img/gallery/DSC00008-109.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00013-110.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00014-111.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00015-112.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00177-123.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00182-125.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00189-127.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00194-129.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00225-134.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00260-139.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00263-141.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00471-158.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00472-159.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00475-160.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00486-163.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00489-164.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00507-169.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00519-172.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00528-175.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00543-178.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC00568-1.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC09219-17.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC09408-39.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
  - path: /img/gallery/DSC09929-99.jpg
    desc: 'Fotografo: NOMBRE_AQUI'
projects:
  - title: Primer proyecto
    description: descripción breve
    image: /img/gallery/MPS1813.jpg
    bg_color: '#b19928'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS1840.jpg
    bg_color: '#e4b4a6'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS2104.jpg
    bg_color: '#4e2880'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS2128.jpg
    bg_color: '#3388ff'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS2128.jpg
    bg_color: '#3388ff'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS1813.jpg
    bg_color: '#aa3333'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS1840.jpg
    bg_color: '#33aa33'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS2104.jpg
    bg_color: '#3333aa'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
  - title: Titulo de prueba
    description: descripción breve
    image: /img/gallery/MPS2128.jpg
    bg_color: '#3388ff'
    gallery:
      - path: /img/gallery/MPS1813.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1840.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2104.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS2128.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/IMG_5429.JPG
        desc: 'Fotografo: NOMBRE_AQUI'
      - path: /img/gallery/MPS1883.jpg
        desc: 'Fotografo: NOMBRE_AQUI'
---

{% include gallery.html %}
{% include projects.html %}
{% include project-modals.html %}
