<div class="project-modal modal fade" id="contact" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading editable">
                  Info de Contacto
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h3 class="editable">
                  Tel&eacute;fono:
                </h3><h4><a href="tel:{{site.data.template.phone}}">{{site.data.template.phone}}</a></h4>
                <h3 class="editable">
                  Correo electr&oacute;nico:
                </h3><h4><a href="mailto:{{site.data.template.email}}">{{site.data.template.email}}</a></h4>
                <a href="/uploads/laura-maría-monroy-garcía-cv-2022.pdf" class="button-link editable" target="_blank">CV</a>
                <ul class="list-inline social-buttons">
                  {% for network in site.data.template.social %}
                  <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                  </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
