<!-- Gallery Section -->
<section id="gallery" class="text-center">
  <div class="container xl">
    <h2 class="section-heading editable">Galería</h2>
    {% include carousel.html gallery=page.gallery galleryid='main-carousel' %}
    <div class="credits">
      <div class="row">
        <h4>Fotos:</h4><p class="editable">Melissa Chavez</p><a href="https://instagram.com/melissa.chs" target="_blank" class="editable"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="row">
        <h4>MUA:</h4><p class="editable">Laura Alejandra Moncada</p><a href="https://instagram.com/maquillajebylolo" target="_blank" class="editable"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</section>
