<!-- Investigations Section -->
<section id="investigations" class="text-center">
  <div class="container">
    <h2 class="section-heading editable">Investigaciones</h2>
    {% for investigation in page.investigations %}
    {% assign orientation = forloop.index | minus: 1 | modulo: 2 %}
    <div class="row project-item">
      {% if orientation == 0 %}
      <div class="col-md-8 col-lg-8 project-card" style="orientation: right">
        <h4>{{investigation.title}}</h4>
        <h6>{{investigation.subtitle}}</h6>
        {% for quote in investigation.quotes %}
        <p class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 24 24"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z" /></svg>{{quote}}</p>
        {% endfor %}
        <a href="{{ investigation.path | prepend: site.baseurl }}" class="button-link small" target="_blank">Leer Más</a>
      </div>
      {% endif %}
      <div class="col-md-4 col-lg-4">
        <a href="{{ investigation.path | prepend: site.baseurl }}" class="project-link" target="_blank">
            <div class="project-hover" style="background-color: {{investigation.bg_color}}">
                <div class="project-hover-content">
                  <h6>{{investigation.title}}</h6>
                  <hr />
                  <p>Leer <i class="fa fa-chevron-right"></i></p>
                </div>
            </div>
            <img src="{{ investigation.image | prepend: site.baseurl }}" class="img-responsive img-centered" alt="" />
        </a>
      </div>
      {% if orientation == 1 %}
      <div class="col-md-8 col-lg-8 project-card">
        <h4>{{investigation.title}}</h4>
        <h6>{{investigation.subtitle}}</h6>
        {% for quote in investigation.quotes %}
        <p class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 24 24"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z" /></svg>{{quote}}</p>
        {% endfor %}
        <a href="{{ investigation.path | prepend: site.baseurl }}" class="button-link small" target="_blank">Leer Más</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
