<!-- Gallery Section -->
<section id="projects" class="text-center bg-light-gray">
  <div class="container">
    <h3 class="section-heading editable">Proyectos</h3>
    {% for project in site.projects %}
    <div class="row project-item">
      <div class="col-md-4 col-lg-3">
        <a href="#projectModal{{ forloop.index }}" class="project-link" data-toggle="modal">
            <div class="project-hover" style="background-color: {{project.bg_color}}">
                <div class="project-hover-content">
                  <h6>{{project.title}}</h6>
                  <hr/>
                  <p>Descubrir <i class="fa fa-chevron-right"></i></p>
                </div>
            </div>
            <img src="{{ project.image | prepend: site.baseurl }}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-8 col-lg-9 project-card">
        <h5>{{project.title}}</h5>
        <h6>{{project.subtitle}}</h6>
        <p class="text-muted">{{project.description}}</p>
        <a href="#projectModal{{ forloop.index }}" class="button-link small" data-toggle="modal">Más</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
