<!-- Portfolio Grid Section -->
    <section id="reel" class="text-center">
        <div class="container">
          <h2 class="section-heading editable">Reel</h2>
          {% include embed.html hosting=page.reel.hosting id=page.reel.id %}
          <div class="credits">
            <div class="row">
                <h4>Créditos:</h4><p class="editable">Melissa Chavez</p><a href="https://instagram.com/melissa.chs" target="_blank" class="editable"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
    </section>
